
/recognition/46822394_ViT_ADNC/AD_NC
/recognition/46822394_ViT_ADNC/result
/recognition/46822394_ViT_ADNC/checkpoints
.DS_Store
recognition/46822394_ViT_ADNC/predict_old.py
recognition/46822394_ViT_ADNC/train3.py

recognition/46822394_ViT_ADNC/ADNI/meta_data_with_label.json
*.pyc
*.pdf
*.typ
