absl-py==2.1.0
astroid==3.2.4
asttokens==2.4.1
Bottleneck @ file:///C:/b/abs_f7un855idq/croot/bottleneck_1709069969633/work
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
dill==0.3.8
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing==2.0.1
faiss-cpu==1.9.0
filelock==3.13.1
fonttools==4.53.1
fsspec==2024.2.0
grpcio==1.66.2
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1724187233579/work
ipykernel==6.29.4
ipython==8.23.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
jupyter_client==8.6.1
jupyter_core==5.7.2
kaleido==0.2.1
kiwisolver==1.4.5
llvmlite==0.43.0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numexpr @ file:///D:/bld/numexpr_1728902632037/work
numpy==1.26.3
packaging==24.0
pandas @ file:///C:/b/abs_9aotnvvz16/croot/pandas_1718308978393/work/dist/pandas-2.2.2-cp312-cp312-win_amd64.whl#sha256=93959056e02e9855025011adb18394296a58d49e72b9342733b7693a5267c790
parso==0.8.4
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
platformdirs==4.2.0
plotly==5.24.1
prompt-toolkit==3.0.43
protobuf==5.28.2
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.17.2
pylint==3.2.6
pynndescent==0.5.13
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytorch-metric-learning==2.6.0
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==306
pyzmq==26.0.0
record-keeper==0.9.32
scikit-learn==1.5.1
scipy==1.14.1
setuptools==72.2.0
six==1.16.0
stack-data==0.6.3
sympy==1.12
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tomlkit==0.13.2
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tornado==6.4
tqdm==4.66.5
traitlets==5.14.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
umap-learn==0.5.6
wcwidth==0.2.13
Werkzeug==3.0.4
wheel==0.44.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1724730934107/work
